version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: vod_mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: vod_db
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    container_name: vod_rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: always

volumes:
  mongo_data:
  rabbitmq_data:
